*, :after, :before {
box-sizing: border-box;
}
user agent stylesheet
div {
display: block;
}
body {
font-family: "Open Sans","Arial",sans-serif;
font-size: 15px;
}

body {
font-family: "Open Sans", Arial, sans-serif;
}

body {
font-size: 20px;
font-family: Arial, sans-serif;
font-weight: 400;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-color: #fcfcfd;
color: #646664;
}

body {
font-family: Open Sans, Arial, sans-serif;
}

html {
font-size: 10px;
}

html {
font-size: 10px;
}

html {
font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji,
Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
cursor: default;
line-height: 1.5;
-moz-tab-size: 4;
tab-size: 4;
-webkit-tap-highlight-color: transparent;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
word-break: break-word;
}

:after,
:before {
text-decoration: inherit;
vertical-align: inherit;
}

*,
:after,
:before {
box-sizing: border-box;
}

:after,
:before {
text-decoration: inherit;
vertical-align: inherit;
}

*,
:after,
:before {
box-sizing: border-box;
}

*,
:after,
:before {
box-sizing: border-box;
}

user agent stylesheet link {
display: none;
}

html {
font-size: 10px;
}

html {
font-size: 10px;
}

html {
font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji,
Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

html {
cursor: default;
line-height: 1.5;
-moz-tab-size: 4;
tab-size: 4;
-webkit-tap-highlight-color: transparent;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
word-break: break-word;
}

:after,
:before {
text-decoration: inherit;
vertical-align: inherit;
}

*,
:after,
:before {
box-sizing: border-box;
}

:after,
:before {
text-decoration: inherit;
vertical-align: inherit;
}

*,
:after,
:before {
box-sizing: border-box;
}


.lp-section {
padding: 50px 0
}

.lp-section--pv-collapse {
padding: 0
}

.lp-section.hero {
background: #f9f8fa
}

.lp-section.transparent {
background: transparent
}

.lp-section.white {
background: #fff
}

.lp-section__container {
margin: 0 auto;
max-width: 1170px;
padding-left: 15px;
padding-right: 15px
}

.lp-section__pre-title {
color: #646664;
font-weight: 400;
font-family: "MSM Primary", Quicksand, "Open Sans", Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 26px;
color: #674186;
margin: 10px 0 25px
}

@media only screen and (max-width: 767px) {
.lp-section__pre-title {
font-size: 18px;
line-height: 24px
}
}

.lp-section__title {
color: #21395c;
font-weight: 400;
font-family: "MSM Primary", Quicksand, "Open Sans", Arial, Helvetica, sans-serif;
font-size: 30px;
line-height: 40px;
color: #21395c;
padding: 0
}

@media only screen and (max-width: 767px) {
.lp-section__title {
font-size: 22px;
line-height: 30px
}
}

.lp-section__description {
color: #3d403d;
font-weight: 400;
font-family: "Open Sans", Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 27px;
margin-top: 20px;
color: #646664
}

@media only screen and (max-width: 767px) {
.lp-section__description {
font-size: 16px;
line-height: 24px
}
}

.lp-section__description>p {
margin: 0px;
padding: 0px
}

.lp-section__header {
display: flex;
flex-direction: column;
margin-bottom: 40px
}

.lp-section__header--left {
align-items: flex-start;
text-align: left
}

.lp-section__header--center {
align-items: center;
text-align: center
}

.lp-section__header--right {
align-items: flex-end;
text-align: right
}

.lp-section__footer {
margin-top: 40px;
display: flex;
flex-direction: row
}

.lp-section__footer--left {
justify-content: flex-start
}

.lp-section__footer--center {
justify-content: center
}

.lp-section__footer--right {
justify-content: flex-end
}

.column-section .lp-section__container {
display: flex;
flex-direction: row;
box-sizing: border-box;
display: flex;
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;
max-width: 1200px
}

@media screen and (max-width: 767px) {
.column-section .lp-section__container {
width: 91.6558%
}
}

@media screen and (max-width: 320px) {
.column-section .lp-section__container {
width: 85%
}
}

.column-section__slot {
width: 100%
}

.column-section__slot .cmp-text h3 {
color: #646664;
font-weight: 400;
font-family: "MSM Primary", Quicksand, "Open Sans", Arial, Helvetica, sans-serif;
font-size: 20px;
line-height: 26px;
color: #3d403d;
margin-top: 20px;
margin-bottom: 10px
}

@media only screen and (max-width: 767px) {
.column-section__slot .cmp-text h3 {
font-size: 18px;
line-height: 24px
}
}

.col-section__column {
display: flex;
flex-direction: column
}

.col-section__column--left {
align-items: flex-start
}

.col-section__column--center {
align-items: center
}

.col-section__column--right {
align-items: flex-end
}

.col-section__column-desk-0 {
box-sizing: border-box;
width: 0%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-0 {
margin-left: 0%
}

.col-section__column-desk-1 {
box-sizing: border-box;
width: 8.33333%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-1 {
margin-left: 8.33333%
}

.col-section__column-desk-2 {
box-sizing: border-box;
width: 16.66667%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-2 {
margin-left: 16.66667%
}

.col-section__column-desk-3 {
box-sizing: border-box;
width: 25%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-3 {
margin-left: 25%
}

.col-section__column-desk-4 {
box-sizing: border-box;
width: 33.33333%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-4 {
margin-left: 33.33333%
}

.col-section__column-desk-5 {
box-sizing: border-box;
width: 41.66667%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-5 {
margin-left: 41.66667%
}

.col-section__column-desk-6 {
box-sizing: border-box;
width: 50%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-6 {
margin-left: 50%
}

.col-section__column-desk-7 {
box-sizing: border-box;
width: 58.33333%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-7 {
margin-left: 58.33333%
}

.col-section__column-desk-8 {
box-sizing: border-box;
width: 66.66667%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-8 {
margin-left: 66.66667%
}

.col-section__column-desk-9 {
box-sizing: border-box;
width: 75%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-9 {
margin-left: 75%
}

.col-section__column-desk-10 {
box-sizing: border-box;
width: 83.33333%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-10 {
margin-left: 83.33333%
}

.col-section__column-desk-11 {
box-sizing: border-box;
width: 91.66667%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-11 {
margin-left: 91.66667%
}

.col-section__column-desk-12 {
box-sizing: border-box;
width: 100%;
padding-left: .72464%;
padding-right: .72464%
}

.col-section__column-desk-shift-12 {
margin-left: 100%
}

@media screen and (max-width: 767px) {
.col-section__column-tab-0 {
box-sizing: border-box;
width: 0%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-0 {
margin-left: 0%
}

.col-section__column-tab-1 {
box-sizing: border-box;
width: 8.33333%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-1 {
margin-left: 8.33333%
}

.col-section__column-tab-2 {
box-sizing: border-box;
width: 16.66667%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-2 {
margin-left: 16.66667%
}

.col-section__column-tab-3 {
box-sizing: border-box;
width: 25%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-3 {
margin-left: 25%
}

.col-section__column-tab-4 {
box-sizing: border-box;
width: 33.33333%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-4 {
margin-left: 33.33333%
}

.col-section__column-tab-5 {
box-sizing: border-box;
width: 41.66667%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-5 {
margin-left: 41.66667%
}

.col-section__column-tab-6 {
box-sizing: border-box;
width: 50%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-6 {
margin-left: 50%
}

.col-section__column-tab-7 {
box-sizing: border-box;
width: 58.33333%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-7 {
margin-left: 58.33333%
}

.col-section__column-tab-8 {
box-sizing: border-box;
width: 66.66667%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-8 {
margin-left: 66.66667%
}

.col-section__column-tab-9 {
box-sizing: border-box;
width: 75%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-9 {
margin-left: 75%
}

.col-section__column-tab-10 {
box-sizing: border-box;
width: 83.33333%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-10 {
margin-left: 83.33333%
}

.col-section__column-tab-11 {
box-sizing: border-box;
width: 91.66667%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-11 {
margin-left: 91.66667%
}

.col-section__column-tab-12 {
box-sizing: border-box;
width: 100%;
padding-left: 1.13798%;
padding-right: 1.13798%
}

.col-section__column-tab-shift-12 {
margin-left: 100%
}
}

@media screen and (max-width: 320px) {
.col-section__column-mob-0 {
box-sizing: border-box;
width: 0%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-0 {
margin-left: 0%
}

.col-section__column-mob-1 {
box-sizing: border-box;
width: 8.33333%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-1 {
margin-left: 8.33333%
}

.col-section__column-mob-2 {
box-sizing: border-box;
width: 16.66667%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-2 {
margin-left: 16.66667%
}

.col-section__column-mob-3 {
box-sizing: border-box;
width: 25%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-3 {
margin-left: 25%
}

.col-section__column-mob-4 {
box-sizing: border-box;
width: 33.33333%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-4 {
margin-left: 33.33333%
}

.col-section__column-mob-5 {
box-sizing: border-box;
width: 41.66667%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-5 {
margin-left: 41.66667%
}

.col-section__column-mob-6 {
box-sizing: border-box;
width: 50%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-6 {
margin-left: 50%
}

.col-section__column-mob-7 {
box-sizing: border-box;
width: 58.33333%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-7 {
margin-left: 58.33333%
}

.col-section__column-mob-8 {
box-sizing: border-box;
width: 66.66667%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-8 {
margin-left: 66.66667%
}

.col-section__column-mob-9 {
box-sizing: border-box;
width: 75%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-9 {
margin-left: 75%
}

.col-section__column-mob-10 {
box-sizing: border-box;
width: 83.33333%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-10 {
margin-left: 83.33333%
}

.col-section__column-mob-11 {
box-sizing: border-box;
width: 91.66667%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-11 {
margin-left: 91.66667%
}

.col-section__column-mob-12 {
box-sizing: border-box;
width: 100%;
padding-left: 2.94118%;
padding-right: 2.94118%
}

.col-section__column-mob-shift-12 {
margin-left: 100%
}
}

.cms-image-block {
display: flex;
flex-direction: column
}

@media only screen and (min-width: 768px) {
.cms-image-block {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center
}
}

.image-block-item {
display: flex;
flex-direction: column;
align-items: stretch;
text-align: center;
height: 100%;
padding: 20px;
flex-basis: calc((100% / 1))
}

.image-block-item:first-of-type {
margin-left: 0
}

.image-block-item:last-of-type {
margin-right: 0
}

.image-block-item--left {
text-align: left
}

.image-block-item--center {
text-align: center
}

.image-block-item--right {
text-align: right
}

@media only screen and (min-width: 768px) {
.image-block-item {
flex-basis: calc((100% / 3))
}

.image-block-item:first-of-type {
margin-left: 0
}

.image-block-item:last-of-type {
margin-right: 0
}

.image-block-item--one {
flex-basis: calc((100% / 1))
}

.image-block-item--one:first-of-type {
margin-left: 0
}

.image-block-item--one:last-of-type {
margin-right: 0
}

.image-block-item--two {
flex-basis: calc((100% / 2))
}

.image-block-item--two:first-of-type {
margin-left: 0
}

.image-block-item--two:last-of-type {
margin-right: 0
}

.image-block-item--three {
flex-basis: calc((100% / 3))
}

.image-block-item--three:first-of-type {
margin-left: 0
}

.image-block-item--three:last-of-type {
margin-right: 0
}

.image-block-item--four {
flex-basis: calc((100% / 4))
}

.image-block-item--four:first-of-type {
margin-left: 0
}

.image-block-item--four:last-of-type {
margin-right: 0
}
}

.image-block-item__img {
width: 100%;
height: auto;
object-fit: cover
}

.image-block-item__img--sm {
width: 50px;
height: 50px
}

.image-block-item__img--lg {
width: 110px;
height: 110px
}

.image-block-item__title {
color: #3d403d;
font-family: "MSM Primary", "Arial", sans-serif;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-weight: 500;
font-size: 18px;
line-height: 20px;
margin: 20px 0 10px
}

.image-block-item__description {
font-size: 15px;
padding: 0;
flex-grow: 1
}