@charset "UTF-8";
.progress {
  position: relative;
  display: flex;
}
.progress .progress-track {
  position: absolute;
  top: 5px;
  width: 100%;
  height: 5px;
  background-color: #dfe3e4;
  z-index: -1;
}
.progress .progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.progress .progress-step:last-child:after {
  display: none;
}
.progress .progress-step:before {
  content: "ï€Œ";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 4px solid #dfe3e4;
  border-radius: 100%;
  color: transparent;
}
.progress .progress-step:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: -1;
}
.progress .progress-step.is-active {
  color: #2183dd;
}
.progress .progress-step.is-active:before {
  border: 4px solid #777;
  animation: pulse 2s infinite;
}
.progress .progress-step.is-complete {
  color: #009900;
}
.progress .progress-step.is-complete:before {
  font-family: FontAwesome;
  font-size: 10px;
  color: #fff;
  background: #009900;
  border: 4px solid transparent;
}
.progress .progress-step.is-complete:after {
  background: #2183dd;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}
@keyframes nextStep {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.con {
  margin: 50px 100px;
}

button {
  position: absolute;
  right: 50px;
  bottom: 20px;
  cursor: pointer;
}